<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header text-center text-white bg-secondary "
			style="font-size:25px;" th:text="${titulo}"></div>
			<div class="card-body">
				<img th:if="${#strings.length(cuadro.foto) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 70%;"
					th:src="@{'/uploads/' + ${cuadro.foto}}" th:alt="${cuadro.foto}" /> 
					
				<ul class="list-group">
					
					<li class="list-group-item" th:text="'Autor: '+ ${cuadro.autor}"></li>
					<li class="list-group-item" th:text= " 'Precio: €'+ ${cuadro.precio}"></li>
					<li class="list-group-item" th:text="'Fecha ingreso: ' + ${#calendars.format (cuadro.fechaIngreso , 'dd-MM-yyyy')}"></li>
				</ul>										
				
				
			</div>
		</div>
</div>

		<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
